@font-face {
    font-family: 'From the Woods';
    src: url('fonts/FromtheWoods-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    margin: 0 auto;
    box-sizing: inherit;
}

body {
    background-image: url(img/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;

}

section {
    width:500px;
    text-align: justify;
    font-weight: 700;
}
.container {
    position: relative;
    height: 530px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.circle {
    background-color: #4F6A13;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding:3.5%;
    overflow-y: auto; 
    left: 10%;
    top: 25%;
}

.circle1 {
    position: absolute;
    top: 0px;
    left: 0px;

}

.circle2 {
    position: absolute;
    top: 135px;
    left: 250px;

}

.circle3 {
    position: absolute;
    top: 280px;
    left: 0px;

}

img {
    width: 40%;
}

footer {
    background-color: #2D4823;
    color: #D3D3D3;
    text-align: center;
    padding: 5%;
}

footer p {
    width: 500px;
}

footer a {
    color: #D3D3D3;
}

h1 {
    font-size:4rem;
    font-family: "From the Woods";
    text-align: center;
}

h2, 
h3 {
    font-weight: 700;
    padding-bottom: 1rem;
}


